
		body {
			font-family: Arial, sans-serif;
			background-color: #f4f4f4;
			margin: 0;
			padding: 0;
		}

		
		.navbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #333;
			padding: 15px 20px;
		}

		.logo {
			color: white;
			font-size: 24px;
			font-weight: bold;
		}

		.nav-links {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			gap: 20px;
		}

		.nav-links a {
			text-decoration: none;
			color: white;
			font-size: 18px;
			transition: color 0.3s;
		}

		.nav-links a:hover {
			color: yellow;
			
		}

	
		.profile-container {
			background-color: #ffffff;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			width: 30%;
			margin: 50px auto;
			
		}

		.profile-container h1 {
			color: #333;
			font-size: 32px;
			margin-bottom: 20px;
		}

		.profile-container p {
			color: #555;
			font-size: 18px;
			margin-bottom: 10px;
		}

		.profile-container a {
			background-color: #007bff;
			color: #ffffff;
			padding: 10px 20px;
			border: none;
			border-radius: 4px;
			text-decoration: none;
			font-size: 16px;
			transition: background-color 0.3s;
		}

		.profile-container a:hover {
			background-color: #0056b3;
			
		}
	